.form-style {
  width: 500px;
  position: absolute;
  display: flex;
  top: 100px;
  left: 1px;
}

.become-image-style {
  position: absolute;
  display: flex;
  top: 40px;
  width: 100%;
  height: 100%;

}

.bg-style {
  position: absolute;
  display: flex;
  background-color: white;
  left: 0%;
  width: 500px;
  height: 100vh;
  border-end-end-radius: 50%;
  border-top-right-radius: 50%;
  opacity: 5px;
  box-shadow: 18px 1px 39px -5px rgba(0, 0, 0, 0.84);
}

.input-style {
  position: absolute;
  width: 400px;
  top: 200px;
  left: 10px;
  overflow: auto;
}

.drop-style {
  position: absolute;
  display: flex;
  top: 420px;
  left: 10px;
}

.btn-main-style {
  border-radius: 30px;
  border: 3px solid black;
  width: 50px;
  height: 50px;
}

.btn-main-style:hover {
  background: linear-gradient(-10deg, purple, #dbb6ee);
  color: white;
  box-shadow: 16px 0px 5px 0px rgba(0,0,0,0.75);
}

.btn.dropdown-toggle::after {
  display: none !important;
}


.drop-style-phone {
  position: absolute;
  display: flex;
  top: 420px;
  left: 80px;
}

.btn-phone-style {
  background-color: transparent;
  color: black;
  border-radius: 30px;
  border: 3px solid black;
  width: 50px;
  height: 50px;
}

.btn-phone-style:hover{
  background: linear-gradient(30deg, green, #C0FF80);
  color: white;
  box-shadow: 16px 0px 5px 0px rgba(0,0,0,0.75);
}

.drop-style-instagram{
  position: absolute;
  display: flex;
  top: 420px;
  left: 150px;
}

.btn-instagram-style{
  background-color: transparent;
  color: black;
  border-radius: 30px;
  border: 3px solid black;
  width: 50px;
  height: 50px;
}

.instagram-icon{
  font-size: larger;
  font-weight: bold;
}

.btn-instagram-style:hover{
  background: linear-gradient(rgb(255, 0, 208),rgb(255, 0, 242), pink);
  color: white;
  box-shadow: 16px 0px 5px 0px rgba(0,0,0,0.75);
}

.drop-style-address{
  position: absolute;
  display: flex;
  top: 420px;
  left: 220px;
}

.btn-address-style{
  background-color: transparent;
  color: black;
  border-radius: 30px;
  border: 3px solid black;
  width: 50px;
  height: 50px;
  
}

.btn-address-style:hover{
  background: linear-gradient(red,white);
  color: white;
  box-shadow: 16px 0px 5px 0px rgba(0,0,0,0.75);
}

.our-info-style{
  position: absolute;
  display: flex;
  top: 360px;
  left: 10px;
}