.img-orientation {
    display: block;
    margin: 5% auto;
    margin-top: 100px;
    margin-left: 10px;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
   
}
.main-info-style {
    position: absolute;
    display: flex;
    font-size: 80%;
    margin-left: 90%;
    margin-top: 5%;
    flex-direction: column;
    
}

.name-style{
    margin-left: 200px;
    font-family: "DM Serif Text", serif;
    font-weight: 400px;
    font-style: italic;
    font-size: 80px;
    
}

.trim-style{
    margin-top: 30px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px; 
    white-space: nowrap; 
    overflow: hidden; 
    
}

.price-style{

    color: #04AFC2;
    margin-top: 10px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 100px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-shadow: 1px 4px 2px rgba(0,0,0,0.6);
}



.main-bg-style{
    position: absolute;
    margin-left: 2.5%;
    width: 95%;
    display: flex;
    background-color: white;
    border-radius: 10px;
   
}

.info-style{
    position: absolute;
    display: flex;
    top: 500px;
    left: 100px;
}

.text-style{
    font-size: 40px;
}

.amount-info-style{
    position: absolute;
    display: flex;
    top: 610px;
    left: 650px;
}

.amount-text-style{
    position: absolute;
    display: flex;
    left: 140px;
    top: 70px;
}