.left-side {
  align-items: end;
  display: flex;
  flex-direction: column;
}
.left-side img {
  width: 33em;
  height: 27em;
}

.left-side .photos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c5;
  width: 33em;
  height: 8.5em;
}
.inner-photos {
  flex-direction: column;
  display: flex;
  border: solid white;
  width: 29%;
  height: 72%;
  justify-content: center;
  align-items: center;
}
.inner-photos p {
  margin: 0;
  font-weight: 600;
  color: white;
}
.photos-number {
  height: 39%;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  width: 25%;
  display: flex;
}

.photos-number p {
  font-weight: 600;
  padding-top: 6px;
  color: black;
}

/* Estilos del lado derecho */

.right-side {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.right-side .type-car {
  padding: 10px 18px 10px 18px;
  border: solid 0.5px rgb(188, 185, 185);
}

.right-side .socials {
  font-size: 24px;
  display: flex;
  gap: 24px;
}

.right-side button {
  border-color: darkgray;
}

.model-name {
  margin-top: -8px;
}

.right-side h2 {
  color: #006454;
}

.right-side .first-horizon-line {
  background-color: #3838384d;
  width: 577px;
  height: 2px;
}
.right-side .second-horizon-line {
  margin-top: -8.5px;
  background-color: #3838384d;
  width: 577px;
  height: 2px;
}

.right-side .features-line {
  gap: 43px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: start;
}

.features-line {
  margin: -6px;
}

.features-line .mini-line {
  margin-top: 5px;
  border-left: 2px solid #3838384d;
  height: 25px;
}

.div-features {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  border-right: solid gray 1px;
  margin-top: 21px;
  width: 16em;
}

.div-features h1 {
  color: rgb(27, 177, 104);
  font-weight: 600;
}

.div-features button {
  font-family: None;
  font-weight: 500;
  margin-top: 20px;
  font-size: 22px;
  height: 3em;
  width: 11em;
}

/* Estilos de la siguiente box  */

.box-features {
  background-color: #d0d0d0;
  margin-top: 62px;
  padding-top: 99px;
  height: 61vh;
}

.box-features .container {
  background-color: hsl(0, 0%, 93%);
}

.box-features .card-features {
  background-color: hsl(0, 0%, 93%);
  padding: 60px 70px;
}

.card-features .card-title {
  padding-top: 24px;
  font-size: 27px;
  margin-bottom: 30px;
}

.card-title p {
  padding-left: 4px;
  margin: 0;
}

/* Estilos para Rows y de Features */

.card-features {
  font-size: 20px;
}

.card-features .row {
  padding-left: 28px;
}

.line-2 {
  padding-top: 20px;
}

/* Estilo para Equipment  */

.equipment-row {
  font-family: initial;
  font-size: 22px;
}

.equipment-row .col-4 {
  display: flex;
}
.equipment-row .col-4 i {
  padding-right: 6px;
  padding-top: 6px;
}

/* Estilos para security  */

.security-row {
  display: flex;
}
