.user-log__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-log__box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 34rem;
}

.user-log__img {
  margin-bottom: 35px;
  width: 50%;
}

.user-log__link {
  display: flex;
  justify-content: center;
}

/* backdrop-filter: blur(4px); */
.bg-form-login {
  border: none;
  border-bottom: 2px solid orange;
  background: transparent;
  color: white;
  border-radius: 6px;
  font-family: "DM Serif Text";
}

.bg-form-login:focus {
  outline: none;
  /* Elimina el borde predeterminado al hacer focus */
  background-color: transparent;
  border-color: white;
  /* Cambia el color del borde al enfocar */
  color: white;
}

.text-login {
  font-family: "DM Serif Text", serif;
  color: white;
}

.btn-login {
  background-color: transparent;
  width: 520px;
  color: white;
}