.green {
    color : #7AAD46;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  nav {
    font-size: 23px;
    font-family: "Lora", serif;
  }
  .log {
    font-size: 21px;
  }
  @media (max-width: 768px) {
    #navGround {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      gap: 2px !important;
    }
    .navbar-nav {
      gap: 5px; /* Espaciado entre los enlaces */
    }
  }