.img-seller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 202%;
    z-index: -1;
}

.bg-formu {
    margin-top: 4.5rem;
}

.letter-seller {
    font-family: 'DM Serif Text', serif;
    color: white;
}

.bg-seller {
    position: relative;
    top: 105px;
    backdrop-filter: blur(2px);
    width: 550px;
    border-radius: 30px;
}

.bg-input-seller {
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid rgb(0, 174, 255);
}

.btn-register-seller {
    background-color: transparent;
    width: 250px;
}