.bg-container-register {
    height: 100vh;
    max-width: 100%;
    backdrop-filter: blur(2px);
}

.bg-container-register .row img {
    opacity: 0.9;
    top: 14rem;
    left: 35px;
    position: absolute;
    height: 122px;
    width: 138px;
}

.bgForm {
    border: none;
    border-bottom: 1px solid red;
    background: transparent;
    color: white;
    border-radius: 6px;
    font-family: 'DM Serif Text';
}


.bgForm:focus {
    outline: none;
    background-color: transparent;
    border-color: white;
    color: white;
}




.letterForm {
    font-family: 'DM Serif Text', serif;
    color: whitesmoke;
}



.register-btn {
    background-color: transparent;
    width: 250px;
}

.select-register {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    color: white;
}

.select-text {
    color: black;
}